#!/bin/bash 

# ALIASES
alias la='ls -A'
alias rmr='rm -r'
alias chrome='open -a "Google Chrome"'
alias img='curl -O'
alias react='npx create-react-app'
alias add='git add -A'
alias commit='git commit -m'
alias push='git push'
alias ywav='youtube-dl -x --audio-format "wav"'
alias ymp3='youtube-dl -x --audio-format "wav"'
alias ymp4='youtube-dl -f "bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best"'
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias vim="nvim"
alias vi="nvim"
alias oldvim="vim"

alias ide="sh scripts/ide.sh"

alias webstorm='open -a "Webstorm" .'
alias storm='open -a "Webstorm" .'
alias sublime='open -a "Sublime text" .'

# npm
alias start='npm run start'
alias sscripts='cat package.json | jq ".scripts"'
alias svers='cat package.json | jq ".version"'

# GIT
alias gb='git branch --sort=-committerdate'
alias gba='git branch --sort=committerdate'
alias gdf='git diff-tree --no-commit-id --name-only -r'
alias grf='git checkout HEAD --'

# Paths
alias vimrc='vim ~/.vimrc'
alias nvimrc='vim ~/.config/nvim/init.vim'
alias zshrc='vim ~/.zshrc'

# FZF
alias vf='vim $(fzf)'

# Other
alias lg='lazygit'

function gi() { curl -sLw n https://www.toptal.com/developers/gitignore/api/$@ ;}
