[user]
	name = Anton Baranov
	email = 44464480+noneinnon@users.noreply.github.com
[core]
	editor = nvim
[mergetool "idea"]
	cmd = /Applications/WebStorm.app/Contents/MacOS/webstorm merge \
	$(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") \
  $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") \
  $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") \
  $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED") \
  && read -n 1 -s

[mergetool]
	keepBackup = false
[worktree]
	guessRemote = true

[merge]
	tool = smerge
[mergetool "smerge"]
	trustExitCode = false
[diff]
	tool = smerge
