[user]
	name = Anton Baranov
	email = 44464480+noneinnon@users.noreply.github.com

[mergetool "idea"]
	cmd = /Applications/WebStorm.app/Contents/MacOS/webstorm merge \
		$(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") \
		$(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") \
		$(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") \
		$(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED") \
		&& read -n 1 -s

[mergetool "vimdiff"]
	cmd = "nvim $MERGED -c ':Gvdiffsplit!'"

[mergetool]
	keepBackup = false
	prompt = false

[worktree]
	guessRemote = true

[merge]
	tool = nvimdiff
	conflictstyle = diff3

[diff]
	editor = nvim
	tool = nvimdiff
	# tool = smerge
	colorMoved = default

[core]
	editor = nvim
	pager = delta
	excludesfile = /Users/antonio/.gitignore_global

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[push]
	default = current
