.DS_Store
nvim/plugged

tags
temp
.idea
node_modules
.lsp
.clj-kondo

karabiner/automatic_backups
packer_compiled.lua
scripts/.nrepl-port
.luarc.json

dotbot

.sublime-workspace
test
dotfiles.sublime-workspace
kitty/current-theme.conf
sublime/User
