# ALIASES
# ---------------------------------------------------------------- basics
alias vim='nvim'
alias la='ls -A'
alias ll='ls -alh'
alias img='curl -O'
alias c='clear'
alias fp 'fish --private'

type -q batcat; and alias bat 'batcat'
type -q fdfind; and alias fd 'fdfind'

# ---------------------------------------------------------------- editors
{{ if eq .chezmoi.os "darwin" -}}
alias n='neovide'
alias s='subl'
alias code='open -a "Visual Studio Code"'
{{ else -}}
alias n 'nvim'
alias o 'xdg-open'
{{ end -}}
alias vf='fzf | xargs nvim'

# ------------------------------------------------------------------- git
alias lg='lazygit'
alias gco='git branch --sort=-committerdate | fzf --header "Checkout recent branch" --preview "git diff {1} --color=always | delta" | xargs git checkout'

function ghpr
    GH_FORCE_TTY=100% gh pr list | fzf --ansi --preview 'GH_FORCE_TTY=100% gh pr view {1}' --preview-window down --header-lines 3 | awk '{print $1}' | xargs gh pr checkout
end

function ghw
    gh repo view --web
end

function ghp
    gh pr view --web
end

function ghpc
    gh pr create --fill
end

# --------------------------------------------------------- containers/k8s
alias dc='docker compose'
alias compose='docker compose'
alias k='kubectl'
alias t='terraform'

# ------------------------------------------------------------------- node
alias p='pnpm'

function sscripts
    bat package.json | jq ".scripts" | fzf --ansi --header "NPM scripts for $(pwd) | CTRL-C to cancel" | cut -d ":" -f 1 | xargs -I {} npm run {}
end

{{ if eq .chezmoi.os "darwin" -}}
# ------------------------------------------------------------------- php
alias ar='php artisan'
alias sail='APP_SERVICE=app sh $([ -f sail ] && echo sail || echo vendor/bin/sail)'

# ------------------------------------------------------------------ misc
alias oc='opencode'
alias biff='clj -M:dev dev'
{{ end -}}

function posix-source
    for i in (cat $argv)
        set arr (echo $i | string match -r "([^=]+)=(.*)")
        set -gx $arr[2] $arr[3]
    end
end

# open a remote dir in nvim via oil.nvim
function no
    nvim "oil-ssh://$argv"
end

# Bindings
bind \ce "$EDITOR ."
